<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Costura.Fody" version="3.3.3" targetFramework="net48" />
  <package id="EmbedIO" version="3.1.4" targetFramework="net461" />
  <package id="Fody" version="4.0.2" targetFramework="net48" developmentDependency="true" />
  <package id="SimpleJson" version="0.38.0" targetFramework="net461" />
  <package id="Unosquare.Swan.Lite" version="2.4.3" targetFramework="net461" />
  <package id="WindowsAPICodePack-Core" version="1.1.2" targetFramework="net461" />
  <package id="WindowsAPICodePack-Shell" version="1.1.1" targetFramework="net461" />
  <package id="YamlDotNet" version="8.0.0" targetFramework="net461" />
</packages>